html {
  font-family: helvetica;
  font-weight: bold;
  text-align: center;
}

.header {
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
  color: white;
  font-size: 18px;
}

.link{
  color: white;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 23px;
}

p{
  font-size: 14px;
  font-weight: normal;
}

.footer{
  color: White;
  background-color: dimgray;
  font-size: 11px;
}

.slogan {
  font-size: 23px;
  background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
}

.footer {
  text-align: left;
}
